.profile-avatar-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-image.container{
    position: relative;
    display: inline-block;
}

.profile-camera-icon{
    position:absolute;
    bottom: 0;
    right: 0;
    background-color: var(--bs-primary);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.profile-camera-icon:hover{
    opacity: 1;
    transform: scale(1.1);
}

.profile-file-input{
    display: none;
}

.profile-camera-label{
    cursor: pointer;
    margin:9;
}